<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %msg [%t]%n"/>
        </Console>
        <Routing name="routingAppender">
            <Routes pattern="$${ctx:shuaicj.log.rolling}">
                <Route key="byDate">
                    <RollingFile name="rollingByDate" fileName="/opt/asample/logs/${ctx:shuaicj.log.path}"
                                 filePattern="/opt/asample/logs/${ctx:shuaicj.log.path}.%d{yyyy-MM-dd}.log">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %msg [%t]%n"/>
                        <TimeBasedTriggeringPolicy interval="1"/>
                    </RollingFile>
                </Route>
                <Route key="bySize">
                    <RollingFile name="rollingBySize" fileName="/opt/asample/logs/${ctx:shuaicj.log.path}"
                                 filePattern="/opt/asample/logs/${ctx:shuaicj.log.path}.%d{yyyy-MM-dd}_%i.log">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %msg [%t]%n"/>
                        <SizeBasedTriggeringPolicy size="${ctx:shuaicj.log.size} MB"/>
                        <DefaultRolloverStrategy max="${ctx:shuaicj.log.max}"/>
                    </RollingFile>
                </Route>
                <Route>
                    <RollingFile name="rollingDefault" fileName="/opt/asample/logs/default.log"
                                 filePattern="/opt/asample/logs/default.log.%d{yyyy-MM-dd}.log">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %msg [%t]%n"/>
                        <TimeBasedTriggeringPolicy interval="1"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <Appender-ref ref="consoleAppender"/>
            <Appender-ref ref="routingAppender"/>
        </Root>
        <Logger name="logger.default" level="all"/>
        <Logger name="logger.all" level="all"/>
        <Logger name="logger.trace" level="trace"/>
        <Logger name="logger.debug" level="debug"/>
        <Logger name="logger.info" level="info"/>
        <Logger name="logger.warn" level="warn"/>
        <Logger name="logger.error" level="error"/>
        <Logger name="logger.off" level="off"/>
    </Loggers>
</Configuration>